 *
{
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
}

html
{
	width: 100%;
	height: 100%;
}
body
{
	height: 94.5%;
	background-color: gray;
	background: linear-gradient(90deg,
								#7b7e89,
								#36383f);
}

#console
{
	background-color: rgba(255,255,255,0.4);
	height: 50%;
	overflow-y: scroll;
}

#console > div
{
	padding: 0.25%;
	margin-bottom: 1%;
}

#console > div > *
{
	display: inline-block;
	background-color: rgba(0,0,0,0.25);
	padding: 0.5%;
	margin-right: 1%;
	border-radius: 5px;
	
	overflow-x: hidden;
	overflow-y: auto;
}
#console > div div
{
	width: 75%;
	max-height: 100px;
}
#editor
{
	background-color: rgba(0,0,0,0.4);
	height: 47.5%;
	text-align: center;
}

#text
{
	resize: none;
	width: 90%;
	height: 72%;
	background-color: #515356;
	border: 1px solid #1f2021;
	overflow-y: scroll;
}

#toolbox
{
	padding: 0.25%;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
}

#toolbox input
{
	height: 25%;
	padding: 0.25%;
	margin: 0.25%;
	background-color: rgba(255,255,255,0.1);
	border: 1px solid black;
}

#toolbox input:hover
{
	background-color: rgba(255,255,255,0.2);
}

#toolbox input:active
{
	background-color: rgba(0,0,0,0.2);
}

#footer
{
	text-align: center;
	padding-top: 0.25%;
	height: 1.5%;
}

#footer a
{
	color: white;
}
